/* material-icons-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('~@/styles/fonts/material-icons-v140-latin-regular.woff2') format('woff2'),
        url('~@/styles/fonts/material-icons-v140-latin-regular.ttf') format('truetype');
}
